<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro1.vukn.englishforkids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LearnActivity" />
        <activity android:name=".AlphabetActivity" />
        <activity android:name=".NumberActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".ColorActivity" />
        <activity android:name=".FruitsActivity" />
        <activity android:name=".AnimalActivity" />
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PlayVideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".GameActivity" />
        <activity android:name=".SplashActivity"></activity>
    </application>

</manifest>